<!DOCTYPE html>
<html>
<head>
	<title>Blog Simple With Flask</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
</head>
<body>

	<div class="container">
		<div class="card" style="margin-top: 2%;">
			<div class="card-body">
				<h2 align="center">Blog Simple Flask</h2>
				<h3 align="center">Register</h3><hr>

				<form action="" method="post">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="namadepan">Nama Depan</label>
								<input type="text" name="namadepan" id="namadepan" class="form-control" placeholder="Masukan Nama Depan">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="namabelakang">Nama Belakang</label>
								<input type="text" name="namabelakang" id="namabelakang" class="form-control" placeholder="Masukan Nama Depan">
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="email">Email</label>
						<input type="email" name="email" id="email" class="form-control" placeholder="Masukan Email">
					</div>
					<div class="form-group">
						<label for="password">Password</label>
						<input type="password" name="password" id="password" class="form-control" placeholder="Masukan Password">
					</div>
					<div class="row">
						<div class="col-md-3">
							<div class="form-group">
								<button type="submit" class="btn btn-primary btn-block">Login</button>
							</div>
						</div>
					</div>
				</form><hr>
				Sudah punya akun ? <a href="/">Login</a>
			</div>
		</div>
	</div>

	{% include 'footer.html' %}
</body>
</html>